<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.project.RoleRightMapper">
	<resultMap id="BaseResultMap" type="com.project.entity.project.Right" >
	    <id column="right_id" property="rightId" jdbcType="INTEGER" />
	    <result column="right_parent_id" property="rightParentId" jdbcType="INTEGER" />
	    <result column="right_parents" property="rightParents" jdbcType="VARCHAR" />
	    <result column="right_name" property="rightName" jdbcType="VARCHAR" />
	    <result column="right_url" property="rightUrl" jdbcType="VARCHAR" />
	    <result column="right_description" property="rightDescription" jdbcType="VARCHAR" />
	    <result column="right_code" property="rightCode" jdbcType="VARCHAR" />
	    <result column="available" property="available" jdbcType="INTEGER" />
	    <result column="sorted" property="sorted" jdbcType="INTEGER" />
	    <result column="is_show" property="isShow" jdbcType="TINYINT" />
	    <result column="deleted" property="deleted" jdbcType="INTEGER" />
	    <result column="ischecked" property="ischecked" jdbcType="INTEGER" />
	  </resultMap>
	<select id="selectRoleRight" parameterType="int" resultMap="BaseResultMap">
		select  tb_right.*,0 as ischecked  from tb_role,tb_role_right,tb_right where tb_role.role_id = #{roleId} 
		 and tb_role.role_id = tb_role_right.role_id and tb_role_right.right_id = tb_right.right_id
	 			and tb_right.deleted = 0 and tb_right.available = 1
	</select>
	
  
	<delete id="deleteRoleRights">
		delete from tb_role_right where tb_role_right.role_id = #{roleId} 
		<if test="rightids != null">
			<foreach collection="rightids" index="index" item="item" open="and  tb_role_right.right_id in ("
			    separator="," close=")">
			   #{item}
		  </foreach>
		</if>
	</delete>
</mapper>
