<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.project.UserRoleMapper" >
 <resultMap id="BaseResultMap" type="com.project.entity.project.Role" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_parent_id" property="roleParentId" jdbcType="INTEGER" />
    <result column="role_parents" property="roleParents" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_gen_time" property="roleGenTime" jdbcType="TIMESTAMP" />
    <result column="role_description" property="roleDescription" jdbcType="VARCHAR" />
    <result column="available" property="available" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="sorted" property="sorted" jdbcType="TINYINT" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="ischecked" property="ischecked" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.project.entity.project.User" id="UserRoleResultMap">
		<id column="user_id" property="userId"/>
		<result column="org_name" property="orgName"/>
		<result column="user_name" property="username"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
	</resultMap>
  
  
	<!-- 用户和角色关联的映射 -->
	<select id="selectRoleByUserId" resultMap="BaseResultMap">
		select tb_role.* ,0 as ischecked from tb_role,tb_user_role
		 where tb_user_role.user_id =#{userId}  and tb_role.role_id = tb_user_role.role_id and tb_role.deleted = 0
	</select>
	<select id="selectRoleByParents" resultMap="BaseResultMap">
		select tb_role.*,0 as ischecked from tb_role where tb_role.role_parents like '${_parameter}%' and tb_role.deleted = 0
	</select>
	
	<delete id="deleteUserRoles"  parameterType="int">
		delete from tb_user_role where tb_user_role.user_id = ${userid}
		<if test="roleids != null">
			<foreach collection="roleids" index="index" item="item" open=" and tb_user_role.role_id in ("
			    separator="," close=")">
			   #{item}
		  </foreach>
		 </if>
	</delete>
	
	<select id="countUserByRoleId" parameterType="int" resultType="int">
		select count(*) from tb_organization,tb_user,tb_user_role 
			where tb_organization.org_id = tb_user.organization_id and tb_user.user_id = tb_user_role.user_id 
			 and tb_user.deleted = 0 and tb_user.available = 1 and tb_user_role.role_id = #{roleId}
	</select>
	<select id="selectUserByRoleId" parameterType="int" resultMap="UserRoleResultMap" >
		select tb_organization.org_name,tb_user.user_id,tb_user.username,tb_user.email,tb_user.phone from tb_organization,tb_user,tb_user_role 
			where tb_organization.org_id = tb_user.organization_id and tb_user.user_id = tb_user_role.user_id 
			 and tb_user.deleted = 0 and tb_user.available = 1 and tb_user_role.role_id = #{roleId}
	</select>
	
	
</mapper>