<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- 定义系统配置文件目录 -->
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
				<array>
					<value>classpath:applicationServlet.properties</value>
				</array>
		</property>
	</bean>
	<context:component-scan base-package="com.project.comtroller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<!-- 定义模板引擎 -->	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"></property>
		<property name="contentType" value="${contentType}"/>
		<property name="cache" value="${cache}"></property>
		<property name="prefix" value=""></property>
		<property name="suffix" value="${suffix}"></property>
		<property name="requestContextAttribute" value="rc"></property>
	</bean>
	<bean id="freemarkerConfig"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="${prefix}"></property>
      	<property name="defaultEncoding" value="${defaultEncoding}"></property>
    </bean>
	
	<!-- 配置 类型转化器 -->
	<mvc:annotation-driven>
      <!--   <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <property name="objectMapper" ref="customObjectMapper"></property>
            </bean>
        </mvc:message-converters> -->
    </mvc:annotation-driven>
    <bean id="customObjectMapper" class="com.myproject.util.CustomObjectMapper"></bean>  
	<!-- 定义静态资源处理文件 -->
	<mvc:default-servlet-handler/>
	<!-- 文件上传  -->
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="${defaultEncoding}"></property>
		<property name="maxUploadSize" value="${maxUploadSize}"></property>
		<property name="maxUploadSizePerFile" value="${maxUploadSizePerFile}"></property>
		<property name="uploadTempDir" value="${uploadTempDir}"></property>
	</bean> 
	
	
	<!-- 定义面向切面编程 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>
