.l-icon-add{background:url('../icon/add.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-edit{background:url('../icon/edit.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-delete{background:url('../icon/delete.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-save{background:url('../icon/save.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-search{background:url('../icon/search.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-refresh{background:url('../icon/refresh.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-print{background:url('../icon/print.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-allot{background:url('../icon/allot.png') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-allotno{background:url('../icon/allotno.png') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-addkind{background:url('../icon/addkind.png') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-editkind{background:url('../icon/editkind.png') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-deletekind{background:url('../icon/deletekind.png') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-input{background:url('../icon/input.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-output{background:url('../icon/output.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-bar{background:url('../icon/bar.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
.l-icon-back{background:url('../icon/back.gif') no-repeat center; width:16px; height:16px; line-height:16px;}